body{
  background-color: rgb(255, 74, 104);
}
.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    line-height:3;
    text-align:center;
    background-color:purple;
    color:white;
  }
  .text_images_and_result{
    background-color: rgb(4, 55, 59);
    width: 450px;
    box-shadow: 10px 10px 100px yellow;
  }
 img{
    width: 150px;
    height: 150px;
    box-shadow: 20px 20px 100px rgb(0, 255, 221);
}  
h5{
background-color: whitesmoke;
}
b{
  color: rgb(10, 10, 255);
  font-weight:bolder;
  
}
ol{
  color: black;
  font-weight:bolder;
}

h1{
position:center;
color: black;
font-weight: bolder;
border: 10px;
border-style: double;
text-align: center;

}
h4{
  text-align: center;
  font-weight: 800;
}
span{
  color: white;
}
#result img{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
#result{
  background-color: tomato;
  border-radius: 50px;
  
}
